<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEIzMJzPLpR8aRx8GpAjlOjg8yjPrnyZA</string>
	<key>GCM_SENDER_ID</key>
	<string>504369550146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rollcake.crafty</string>
	<key>PROJECT_ID</key>
	<string>example-20efe</string>
	<key>STORAGE_BUCKET</key>
	<string>example-20efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504369550146:ios:760894325a10ffb0a6eedb</string>
	<key>DATABASE_URL</key>
	<string>https://example-20efe-default-rtdb.firebaseio.com</string>
</dict>
</plist>